.blog-attention{
    background-color: #f2f4f5;
        .attention-ul{
            padding-top:53px;
            padding-bottom:48px;
            width: 90%;
            margin: 0 auto;
            .attention-li{
                margin: 0 auto;
                padding: 1rem 0;
                border-bottom: 1px dashed #ccc;
                .attention-title{
                    font-size: 1.3rem;
                    color:#666666;
                    margin-bottom: 0.6rem;
                }
                .attention-article{
                    font-size: 1rem;
                    color:#666666
                }
            }
        }
}